.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("/fundo.png"); 
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.login {
    max-height: 90vh;
    max-width: 400px;
    width: 90%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 40px 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.login button, .cadastro button {
    margin-top: 10px;
    width: 100%;
    max-width: 200px;
}

.login button {
    font-size: 12px;
}

.cadastro {
    max-height: 100vh;
    max-width: 400px;
    width: 90%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 40px 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.cadastro input {
    background-color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 8px;
    margin: 6px 0;
    width: 35vh;
    height: 10vh;
}

.input:hover {
    transform: scale(105%);
    transition: all 0.3 ease-in;
}

.cadastro button {
    width: 35vh; 
    height: 5vh; 
    padding: 10px 15px; 
    border-radius: 3px;
    background: linear-gradient(80deg, rgb(130, 240, 120) 0%, rgb(90, 245, 193) 33%, rgb(58, 241, 186) 66%, rgb(130, 240, 120) 100%);
    white-space: nowrap; 
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.cadastro button:hover {
    transform: scale(105%);
    transition: all 0.3s ease-in;
}

.cadastrar-button {
    border: none;
}