.button {
    width: 35vh; 
    height: 5vh; 
    padding: 10px 15px; 
    border-radius: 10px;
    background: linear-gradient(80deg, rgb(130, 240, 120) 0%, rgb(90, 245, 193) 33%, rgb(58, 241, 186) 66%, rgb(130, 240, 120) 100%);
    white-space: nowrap; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.button:hover {
    transform: scale(105%);
    transition: all 0.3s ease-in;
}