.input {
    background-color: rgb(170, 159, 159);
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    padding: 8px;
    margin: 6px 0;
    width: 35vh;
    height: 3vh;
}

.input:hover {
    transform: scale(105%);
    transition: all 0.3 ease-in;
}